force-app/main/default/flows/Create_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>UserAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.FirstName}, 1)&amp;LEFT({!$Record.LastName}, 7)</expression>
    </formulas>
    <interviewLabel>Create Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>UserAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>getProfileId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Pacific/Kiritimati</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getProfileId</name>
        <label>getProfileId</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProfileId</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
